---
  import Infos from "../components/Infos.svelte";
	import BaseLayout from "../layouts/BaseLayout.astro"
---
<head>
	<title>The Website of Antonio Sarcevic</title>
	<meta name="description" content="My little space on the web and where I write about stuff I made or things I find interesting." />
</head>
<BaseLayout>
<h1>
  <span class="hello">👋 Hello, I am</span>
  <br />
  Antonio Sarcevic.
</h1>
<Infos />
</BaseLayout>

<style >
  h1 {
    color: var(--hi);
    font-size: 4rem;
  }
  .hello {
    color: var(--fg);
    font-size: 0.6em;
  }
</style>
