:root {
  --bg: hsl(281, 100%, 97%);
  --bgg: hsl(161, 100%, 97%);
  --accent: hsl(281, 50%, 42%);
  --hi: hsl(161, 50%, 42%);
  --fg: #000000;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1em;
  font-family: "Atkinson Hyperlegible", Roboto, sans-serif;
  background: var(--bg);
  background: linear-gradient(120deg, var(--bg) 0%, var(--bgg) 100%);
  color: var(--fg);
}

nav,
main,
footer {
  max-width: 75ch;
  margin: 0 auto;
}

img,
picture {
  max-width: 100%;
  margin: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  word-break: break-word;
}

a {
  color: var(--accent);
}

.fc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pill {
  color: var(--bg);
  background-color: var(--accent);
  margin: .5em;
  padding: .5em 1em;
  border-radius: 9999px;
  text-decoration: none;
  border: 1px solid transparent;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.pill:hover {
  box-shadow: 0 0.1px 0.2px rgba(0, 0, 0, 0.038),
    0 0.3px 0.4px rgba(0, 0, 0, 0.056), 0 0.6px 0.6px rgba(0, 0, 0, 0.069),
    0 0.9px 1px rgba(0, 0, 0, 0.08), 0 1.4px 1.5px rgba(0, 0, 0, 0.091),
    0 2.1px 2.4px rgba(0, 0, 0, 0.104), 0 3.5px 4px rgba(0, 0, 0, 0.122),
    0 7px 8px rgba(0, 0, 0, 0.16);
  transform: translateY(-2px);
}

.card {
  margin: 1em 0;
  padding: 0 1em;
  border: 1px solid var(--hi);
  border-radius: 0.5em;
  background-color: white;
}

.posts p {
  text-align: center;
}
