---
  import DarkToggle from "./DarkToggle.svelte"
  const currentPage = Astro.request.url.pathname;

  const links = [
    { path: "/", name: "Home"},
    { path: "/projects", name: "Projects"},
    { path: "/blog", name: "Blog"},
    { path: "/tag", name: "Tags"},
  ];

  function isActive(path) {
    if (path === currentPage) return true
    if (path !== "/" && currentPage.includes(path)) return true
    return false;
  }
---
<div class="fr">
  {links.map(({path, name}) => (
    <a class="pill" href={path} aria-current={`${isActive(path) ? 'page' : 'false'}`}> 
      {name}
    </a>
  ))
  }
  <DarkToggle client:only/>
</div>

<style>
  .pill {
    color: var(--fg);
    background-color: var(--b);
    border-color: var(--hi);
  }
  a[aria-current="page"] {
    background-color: var(--hi);
    box-shadow: var(--shadow-pill);
    transform: translateY(-2px);
  }
</style>
