---
  import BaseLayout from "../../layouts/BaseLayout.astro"
  import EntryList from "../../components/EntryList.astro"

  let allPosts = Astro.fetchContent('./*.md');
  const title = "Toni's Projects";
---

<BaseLayout title={title}>
  <h1>{title}</h1>
  <EntryList posts={allPosts}></EntryList>
</BaseLayout>
