---
  import BaseLayout from "../../layouts/BaseLayout.astro"
  import EntryList from "../../components/EntryList.astro"
  import tags from "../../tags"

  let allPosts = Astro.fetchContent('../**/*.md');

  export async function getStaticPaths() {
    return tags.map(tag => {return { params: {tag}}});
  }

  const { tag } = Astro.request.params;

  allPosts = allPosts.filter(post => post.tags.includes(tag));

  const title = "Toni's posts about #" + tag;
---

<BaseLayout title={title}>
  <h1>{title}</h1>
  <EntryList posts={allPosts}></EntryList>
</BaseLayout>
