---
  import BaseLayout from "../../layouts/BaseLayout.astro"
  import tags from "../../tags"

  const title = "Tags Toni writes about";
---

<head>
  <title>{title}</title>
	<meta name="description" content="Where I write about stuff I made or things I find interesting." />
</head>

<BaseLayout>
  <h1>{title}</h1>
  <ul class="tag-list">
    {tags.map(tag => <li><a href={"/tag/"+tag}>#{tag}</a></li>)}
  </ul>
</BaseLayout>

<style>
ul {
  justify-content: center;
}
li {
  border: 1px solid var(--hi);
  background-color: white;
}
</style>