.arrow-link {
	color: inherit;

	& svg {
		vertical-align: sub;
		position: relative;
		inset-inline-start: 0rem;
		transition: inset-inline-start 0.2s ease-in-out;
	}

	&:hover svg,
	&:focus svg {
		inset-inline-start: -0.5rem;
	}
	&.end {
		&:hover svg,
		&:focus svg {
			inset-inline-start: 0.5rem;
		}
	}
}

.content-box {
	display: flex;
	flex-direction: column;
	border: 0.25rem solid var(--as-text-3);
	padding: 1.5rem 2rem;
	border-radius: 1rem;
	color: inherit;
	text-decoration: none;
	text-align: start;

	p {
		margin-block: 0.75rem;
		font-size: var(--step-0);
		color: var(--as-text-2);
	}

	hr {
		width: 100%;
		border-color: var(--as-back-2);
		border-style: solid;
	}

	.meta {
		display: flex;
		justify-content: space-between;

		margin-block-end: 0;
	}

	&:hover,
	&:focus {
		> h3 {
			text-decoration: underline;
		}
		& hr {
			border-color: var(--as-text-3);
		}
	}
}

.screen-reader-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
