.arrow-link {
	color: inherit;

	& svg:first-of-type {
		vertical-align: sub;
		position: relative;
		inset-inline-start: 0rem;
		transition: inset-inline-start 0.2s ease-in-out;
	}

	&:hover svg:first-of-type,
	&:focus svg:first-of-type {
		inset-inline-start: -0.5rem;
	}
	&.end {
		&:hover svg:first-of-type,
		&:focus svg:first-of-type {
			inset-inline-start: 0.5rem;
		}
	}
}

.screen-reader-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.autolink-header {
	font-size: 0.8em;
	padding-inline-end: 0.2em;
	margin-inline-start: -1ch;
	vertical-align: 0.2em;
	&:hover,
	&:focus {
		color: var(--as-text-1);
	}
}

@media (max-width: 1000px) {
	.autolink-header {
		margin-inline-start: unset;
	}
}
