html,
body {
	margin: 0;
}

*:focus {
	outline-width: 1rem;
	outline-offset: 0.25rem;
}

/* from scrollbar.app */

*::-webkit-scrollbar {
	width: 0.5em;
	height: 0.5em;
}

*::-webkit-scrollbar-track {
	background: var(--as-back-2);
}

*::-webkit-scrollbar-thumb {
	background: var(--as-text-2);
	border-radius: 1rem;
}

html {
	background-color: var(--as-back-1);
	color: var(--as-text-1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--display-font);
	font-weight: 400;
	scroll-margin-block-start: 1em;
}

body::before {
	content: ' ';
	display: table;
}

body {
	font-family: 'Space Mono', 'Courier New', Courier, monospace, sans-serif;
	font-size: var(--step-0);
	padding-inline: 1rem;
}

code,
pre {
	font-family: 'JetBrains Mono', 'Input Mono', 'Fira Code', 'Roboto Mono', Consolas, Monaco,
		'Andale Mono', 'Ubuntu Mono', monospace !important;
}

a {
	text-decoration: underline dotted;
	color: var(--as-text-3);
	&:hover,
	&:focus {
		text-decoration: underline;
		color: var(--as-text-1);
	}
}

button {
	font: inherit;
	padding: 0.5rem 2rem;
	border-radius: 100vw;
	border: 0.25rem solid currentColor;
	background-color: var(--as-back-2);
	color: var(--as-text-2);

	&:hover,
	&:focus {
		background-color: var(--as-back-1);
		color: var(--as-text-1);
	}
}

hr {
	border-color: var(--as-back-2);
	border-style: solid;
}
