/** Variables **/

@mixin light {
  --b: hsl(0, 0%, 100%);
  --bg: hsl(281, 100%, 97%);
  --bgg: hsl(161, 100%, 97%);
  --accent: hsl(281, 50%, 42%);
  --hi: hsl(161, 50%, 42%);
  --fg: hsl(0, 0%, 0%);

  --tran-s: 0.4s ease-in-out;

  --shadow-pill: 0 0.5px 0.5px rgba(0, 0, 0, 0.05),
    0 1.4px 1.4px rgba(0, 0, 0, 0.071), 0 2.8px 2.8px rgba(0, 0, 0, 0.089),
    0 5.8px 5.8px rgba(0, 0, 0, 0.11), 0 16px 16px rgba(0, 0, 0, 0.16);
}

@mixin dark {
  --b: hsl(0, 0%, 0%);
  --bg: hsl(281, 100%, 3%);
  --bgg: hsl(161, 100%, 3%);
  --accent: hsl(281, 50%, 58%);
  --hi: hsl(161, 50%, 58%);
  --fg: hsl(0, 0%, 100%);

  --tran-s: 0.4s ease-in-out;

  --shadow-pill: 0 0.5px 0.5px rgba(255, 255, 255, 0.05),
    0 1.4px 1.4px rgba(255, 255, 255, 0.071),
    0 2.8px 2.8px rgba(255, 255, 255, 0.089),
    0 5.8px 5.8px rgba(255, 255, 255, 0.11),
    0 8px 8px rgba(255, 255, 255, 0.16);
}

:root {
  @include light;
}

.light {
  @include light;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark;
  }
}

.dark {
  @include dark;
}

/** Default Element Styling **/

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 1em;
  font-family: "Atkinson Hyperlegible", Roboto, sans-serif;
  background: var(--bgg);
  background: linear-gradient(120deg, var(--bg) 0%, var(--bgg) 100%);
  color: var(--fg);
}

pre,
code {
  font-family: "Fira Code";
}

nav,
main,
footer {
  max-width: 75ch;
  margin: 0 auto;
}

img,
picture {
  max-width: 100%;
  margin: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  word-break: break-word;
}

button,
a {
  color: var(--accent);
  font: inherit;
}

/** Utility Classes **/

.fc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pill {
  color: var(--bg);
  background-color: var(--accent);
  margin: 0.5em;
  padding: 0.5em 1em;
  border-radius: 9999px;
  text-decoration: none;
  border: 1px solid transparent;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

.card {
  margin: 1em 0;
  padding: 0 1em;
  border: 1px solid var(--hi);
  border-radius: 0.5em;
  background-color: var(--b);
}

.posts p {
  text-align: center;
}

.resources {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.tag-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag-list li {
  margin-right: 1em;
  margin-top: 1em;
  padding: 0.5em;
  border-radius: 0.5em;
}

/** Hover Animation **/

.pill,
.tag-list li {
  transition: box-shadow var(--tran-s), transform var(--tran-s);
}
.pill:hover,
.tag-list li:hover {
  box-shadow: var(--shadow-pill);
  transform: translateY(-2px);
}

/** Markdown Stuff **/

.icon-link::before {
  content: "#\a0";
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  speak: none;
}

.toc {
  margin-top: 1em;
}
.toc ol {
  margin-bottom: 0.5em;
}

.toc::before {
  margin-top: 1em;
  content: "Table of Contents";
  font-weight: 700;
}

.toc li {
  list-style: none;
}
