---
import BaseLayout from "./BaseLayout.astro"
const { content } = Astro.props;
---
<html>
  <head>
    <!-- Prism Theme -->
    <link rel="preload" href="https://cdn.jsdelivr.net/gh/PrismJS/prism-themes@v1.8.0/themes/prism-nord.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/PrismJS/prism-themes@v1.8.0/themes/prism-nord.css"></noscript>
    <!-- Font: Fira Code -->
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap"></noscript>
    <title>{content.title}</title>
  </head>

  <body>
    <BaseLayout>
      <article class="card">
        <slot />
      </article>
      <a class="pill" href="../"> <span>⬅</span> Back</a>
    </BaseLayout>
  </body>
</html>

<style>
.pill {
  margin: 0;
}
a span {
  margin-left: 0px;
  margin-right: 0px;
  transition: margin 0.4s ease-in-out;
}

a:hover span {
  margin-left: -0.5em;
  margin-right: 0.5em;
}

article {
  font-size: 1.1em;
  line-height: 1.6;
}
</style>